@font-face {
    font-family: digital;
    src: url(./fonts/Digital.ttf);
}
@font-face {
    font-family: havelock;
    src: url(./fonts/havelock.otf);
}
h1{
    font-family: havelock;
    font-size: 2vh;
}
h4{
    font-family: havelock;
}
span{
    font-family: "digital";
    font-size: 3vh;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html, body{
    width: 100vw;
    height: 100vh;
}
main{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #202020;
    color: #5abb9b;
}
#card{
    width: 100vw;
    height: 100vh;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
}
#s1{
    /* background-color: red; */
    width: 70%;
    display: flex;
    align-self: self-end;
}
#search{
    display: flex;
    width: 100%;
}
form{
    justify-content: space-between;
    align-items: center;
    display: flex;
    width: 100%;
    /* background-color: blue; */
}
input{
    font-family: havelock;
    font-size: 2vh;
    height: 3vh;
    padding-left: 5px;
    /* border-radius: 5px; */
    border: none;

}
button{
    height: 3vh;
    border: none;
    /* border-radius: 5px; */
    width: 9vw;
    border-left: 1px solid #81b4a3;
}
#btn{
    display: flex;
}
#cityy{
    position: absolute;
    left: 0;
    top: 0;
    height: 5%;
    /* background-color: red; */
    display: flex;
    align-items: center;
    justify-content: center;
}
#logo{
    position: absolute;
    left: 50%;
    top: 20%;
    transform: translate(-50%, -50%);
}
#tempp{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    left: 50%;
    top: 30%;
    transform: translate(-50%, -50%);
}
.s22{
    position: absolute;
    top: 90%;
}